/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/single-db-dummy/db
/single-db-dummy/log
/multi-db-dummy/db
/multi-db-dummy/log
*.bundle
*.so
*.o
*.a
mkmf.log
.idea
